@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Fugaz+One&display=swap');
// TODO after testing do not use google fonts

.auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #000;

  .left-logo {
    font-family: 'Fugaz One', sans-serif;
    font-size: 4rem;
  }

  .right-content {
    width: 30%;
    background: #1d1d1d;
    padding: 3rem;
    border-radius: 0.5rem;
    max-width: 480px;

    .title {
      text-align: center;
      padding-bottom: 4rem;
    }

    .form {
      padding-bottom: 3rem;
    }

    .avatar {
      &-selected {
        .circle {
          margin-top: 1rem;
          border: 2px solid white;
        }
      }

      &-selection {
        margin: 1rem 0 2rem 2rem;
      }
    }

    .section {
      margin-bottom: 2rem;
      width: 100%;
    }

    .form-title,
    .form-subtitle,
    .mantine-TextInput-label {
      margin-bottom: 0.5rem;
      text-transform: capitalize;
    }

    .profile {
      &-games {
        .games {
          width: 95%;
          margin: 0 auto;
        }
      }
    }

    .form-bottom {
      p {
        padding-bottom: 0.5rem;
      }

      button {
        margin-bottom: 3rem;
      }

      a {
        margin-left: auto;
      }
    }

    .navigation {
      width: 100%;
      margin-bottom: 0;
    }
  }
}
