@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Fugaz+One&display=swap');
// TODO after testing do not use google fonts

.auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #000;
  .left-logo {
    font-family: 'Fugaz One', sans-serif;
    font-size: 4rem;
  }

  .right-content {
    background: #1d1d1d;
    padding: 3rem;
    border-radius: 0.5rem;
    width: 30%;
    max-width: 480px;

    .title {
      text-align: center;
      padding-bottom: 4rem;
    }

    .form {
      padding-bottom: 3rem;
    }

    .circle {
      border-radius: 50%;
      background-color: #333333;
      width: 60px;
      border: 1px solid white;
      height: 60px;
    }

    .avatar {
      &-selected {
        .circle {
          width: 80px;
          height: 80px;
        }
      }

      &-selection {
        margin: 1rem 0 2rem 2rem;
      }
    }

    .section {
      margin-bottom: 2rem;
      width: 100%;

      .form-title,
      .form-subtitle,
      .mantine-TextInput-label {
        margin-bottom: 0.3rem;
        text-transform: capitalize;
      }
    }

    .profile {
      &-games {
        .games {
          width: 95%;
          margin: 0 auto;
        }
      }
    }

    .form-bottom {
      p {
        padding-bottom: 0.5rem;
      }

      button {
        margin-bottom: 3rem;
      }

      a {
        margin-left: auto;
      }
    }

    .navigation {
      width: 100%;
    }
  }
}
