@use '../../styles/variables' as v;

.event__banner {
  object-fit: cover;
  object-position: center;
  max-height: 350px;
}

.event__header {
  margin-top: -1rem;
  background-color: var(--mantine-color-blue-light);
  padding: var(--mantine-spacing-xl) 0;

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mantine-spacing-lg);
  }
}

.event__infos {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event__content {
  margin-top: -1rem;
}

.content__tabs {
  background-color: var(--mantine-color-blue-light);
}

.attendee {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-md);
  margin: var(--mantine-spacing-lg) 0;
}

.attendee-username {
  flex-grow: 2;
}

.notification_registration {
  position: fixed !important;
  top: 100px;
  right: 30px;
  transform: translateX(150%);
  transition: 0.5s;

  &.active {
    transform: translateX(0%);
    transition: 0.5s;
  }
}
