@use '../../styles/variables' as v;

.event__banner {
  object-fit: cover;
  object-position: center;
  max-height: 350px;
}

.event__header {
  margin-top: -1rem;
  background-color: var(--mantine-color-indigo-light);
  padding: var(--mantine-spacing-xl) 0;

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mantine-spacing-lg);
  }
}

.event__infos {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event__content {
  padding: var(--mantine-spacing-xl) 0;
}
