.wrapper {
  margin: 0 auto;

  &.profile {
    width: 60%;
  }

  &.myprofile {
    width: 100%;

    .team {
      background-color: rgb(29, 31, 35);
      padding: 2rem 1rem;

      &-image {
        width: 40%;
        height: 100%;
        max-height: 130px;
      }

      &-member {
        width: 60%;
      }
    }
  }

  .title {
    margin-top: 2rem;
  }

  .section {
    margin-top: 1.5em;
    border-radius: 0.05rem;
    padding: 2rem 0;
    width: 100%;
    background-color: rgb(29 31 35);

    .wrapper-left {
      width: 20%;
    }

    .wrapper-right {
      width: 80%;
    }

    &-full {
      padding: 2rem;
    }

    .bg-icon {
      width: 2.5rem;
      height: 2.5rem;
    }

    &-title {
      margin-bottom: 2rem;
    }

    .game {
      background-color: #333333;
      border-radius: 0.5rem;
      text-align: center;
      padding: 0.1rem 1rem;
      text-transform: capitalize;

      letter-spacing: 0.05rem;
    }
  }
}
