@use 'reset';
@use 'variables' as v;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  color: white;
  background-color: #0c0c0c;
}

.page {
  padding: 10em 10rem 5rem 10rem;
}

.container {
  padding-top: 7rem;

  &__title {
    padding-bottom: 1.5rem;

    &-name {
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: 0.05rem;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumb {
  border: 2px solid white;
}

input {
  &:focus-visible {
    outline: none;
  }
}

.button {
  background-color: inherit;
  border: 1px solid #929292;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;

  &:hover {
    background-color: #929292;
    color: black;
  }
}

.button-favorite {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  border: 1px solid #333333;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}
