@use 'reset';
@use 'variables' as v;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 7rem;

  .title {
    margin-bottom: 1.5rem;
  }
}

input {
  &:focus-visible {
    outline: none;
  }
}

.button {
  letter-spacing: 0.8px;

	&:hover {
    background-color: #4d4086 !important;
	}
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
