@use 'reset';
@use 'variables' as v;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  color: white;
  background-color: #0c0c0c;
}

.container {
  padding-top: 7rem;

  &__title {
    padding-bottom: 1.5rem;
    
    &-name {
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: 0.05rem;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumb {
  border: 2px solid white;
}
