@use '../../styles/variables' as v;

.page-content {
  & > :first-child:not(.full-height) {
    margin-top: 5rem;
  }
}

// Tutorial from https://www.youtube.com/watch?v=c13gpBrnGEw&t=776s&ab_channel=KevinPowell (the css goat)
.content-grid {
  --__padding-inline: 1rem;
  --__content-max-width: 70rem;

  display: grid;
  gap: 1rem;
  grid-template-columns:
    [full-width-start] // Start grid
    minmax(var(--__padding-inline), 1fr) // Space around the content (1)
    [content-start] // Star content
    min(100% - (var(--__padding-inline) * 2), var(--__content-max-width))
    // Size of the content page (min will take the smaller size)
    [content-end] // End content
    minmax(var(--__padding-inline), 1fr) // Space around the content (2)
    [full-width-end]; // End grid
  grid-template-rows: max-content;
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .full-width {
  grid-column: full-width;
}
