@use '../../styles/variables' as v;

.title-container {
  margin: 4rem 0;
}

.categories-grid {
  .thumb {
    position: relative;
    height: 19rem;

    &__infos {
      position: absolute;
      bottom: 4rem;
      left: 1.5rem;
    }
    &__dates {
      position: absolute;
      padding: 0.6rem 1rem;
      bottom: 0;
    }
  }
}
