@use '../../styles/variables' as v;

.search-bar {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #929292;
  color: white;
  width: 34rem;
  min-width: 320px;
  margin-left: 2rem;

  input {
    background-color: inherit;
    border: inherit;
    width: 100%;
    color: white;
  }
}
