@use '../../styles/variables' as v;
.search-bar {
  border-radius: 0.4rem;
  border: 1px solid var(--mantine-color-default-border);
  color: var(--mantine-color-text);
  max-width: 25rem;
  width: 100%;

  input {
    background-color: inherit;
    border: inherit;
    width: 100%;
    color: var(--mantine-color-text);
  }
}
