@use '../../styles/variables' as v;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);

  &__actions {
    flex-grow: 2;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: var(--mantine-spacing-md);
  }
}

// .active {
//   transition: transform 50ms ease-in-out;

//   &:active {
//     transform: scale(0.97);
//   }
// }
