@use '../../styles/variables' as v;

.header {
  background-color: #0c0c0c;
  border-bottom: 3px solid #929292;
  position: fixed;
  width: 100%;
  z-index: 1;

  &-wrapper {
    padding: 1.3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    width: 40%;

    .search-bar {
      padding: 0.4rem 1rem;
      border-radius: 0.4rem;
      border: 1px solid #929292;
      color: white;
      width: 74%;

      input {
        background-color: inherit;
        border: inherit;
        width: 100%;
        color: white;
      }
    }
  }

  .profile {
    display: none;
  }
}
