@use '../../styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Fugaz+One&display=swap');

[data-mantine-color-scheme='dark'] .logo {
  color: #ebe8f3;
}

[data-mantine-color-scheme='light'] .logo {
  color: #333c6e;
}

.navbar__head {
  position: relative;
  text-align: center;

  &-burger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.logo {
  text-align: center;
  font-family: 'Fugaz One', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.catchlines {
  letter-spacing: -0.1px;
  text-align: center;
}

.navbar__bottom {
  flex-grow: 2;
  display: flex;
  gap: var(--mantine-spacing-md);
  flex-direction: column;
  justify-content: end;
}

.navbar__link {
  display: block;
  color: white;
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
  transition: color 0.1s ease-out;

  &:hover{
    text-decoration: underline;
    color: var(--mantine-primary-color-5);
  }

  &--active {
    text-decoration: underline;
    color: var(--mantine-primary-color-5);
  }
}

.navbar__section {
  margin: 1rem 0 2rem 0;
}

/** ACCORDION NAVBAR **/
.mantine-Accordion-root {
  margin-bottom: var(--mantine-spacing-xs);
}
/* Chevron rotation :not(open) */
.mantine-Accordion-item:not([data-active='true']) {
  .mantine-Accordion-chevron {
    rotate: -90deg;
  }
}

.mantine-Accordion-chevron {
  transition: 0.5s;
}

/* Accordeon button */
.mantine-Accordion-control {
  all: unset;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/* Accordeon content */
.mantine-Accordion-content {
  padding-left: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

// REGISTER BOX
.navbar__register {
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
  text-align: center;
}
