@use '../../styles/variables' as v;

.navbar__link {
  display: block;
}

.navbar__section {
  margin: var(--mantine-spacing-lg) 0;
}

/** ACCORDION NAVBAR **/
.mantine-Accordion-root {
  margin-bottom: var(--mantine-spacing-xs);
}
/* Chevron rotation :not(open) */
.mantine-Accordion-item:not([data-active='true']) {
  .mantine-Accordion-chevron {
    rotate: -90deg;
  }
}

.mantine-Accordion-chevron {
  transition: 0.5s;
}

/* Accordeon button */
.mantine-Accordion-control {
  all: unset;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Accordeon content */
.mantine-Accordion-content {
  padding-left: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
