@use '../../styles/variables' as v;

.footer {
  margin-top: 10rem;

  padding: var(--mantine-spacing-xl) 0;
}

[data-mantine-color-scheme='dark'] .footer {
  background-color: var(--mantine-color-dark-8);
}

[data-mantine-color-scheme='light'] .footer {
  background-color: var(--mantine-color-gray-1);
}
