@use '../../styles/variables' as v;

.slider {
  display: flex;
  height: 25rem;
  border-radius: var(--mantine-radius-md);

  .type-tag {
    bottom: 1rem;
  }

  .carousel {
    .mantine-Carousel-indicators {
      bottom: -2rem;

      button {
        width: 2rem;
        height: 0.8rem;
        margin-right: 1rem;
        border-radius: 1rem;
        border: 2px solid #929292;

        &[data-active] {
          opacity: 0.3;
          width: 3rem;
          background-color: #929292;
        }
      }
    }

    .slide {
      display: flex;
      border-right: 5px solid transparent;

      &-image {
        width: 60%;
        background-size: cover;
        background-position: bottom;
        position: relative;
        border-radius: var(--mantine-radius-md) 0 0 var(--mantine-radius-md);

        & .infos {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--mantine-spacing-mg);
        width: 40%;
        border-radius: 0 var(--mantine-radius-md) var(--mantine-radius-md) 0;
        padding: 2rem;
      }

      &-button {
        justify-self: flex-end;
      }
    }
  }
}

[data-mantine-color-scheme='dark'] .slide-content {
  background-color: var(--mantine-color-dark-9);
}

[data-mantine-color-scheme='light'] .slide-content {
  background-color: var(--mantine-color-gray-3);
}

@media screen and (max-width: 1200px) {
  .slider {
    height: 500px;

    .carousel {
      .slide {
        flex-direction: column;

        &-image {
          height: 250px;
          width: 100%;
          border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
        }

        &-content {
          height: 300px;
          width: 100%;
          border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mantine-Carousel-container {
    width: 462px;
  }
}

@media screen and (max-width: 425px) {
  .m-fcd81474.mantine-Carousel-container {
    width: 340px;
  }
}
