@use '../../styles/variables' as v;

.slider {
  width: 100%;
  display: flex;
  height: 400px;

  .carousel {
    max-width: 80%;
    margin: 0 auto;

    .slide {
      display: flex;
      width: 100%;
      border: 2px solid white;

      &-lefty {
        width: 60%;
      }

      &-righty {
        width: 40%;

        .event {
          border-left: 2px solid white;
          height: 100%;

          &-description {
            padding: 2rem 3rem 0 3rem;
          }

          &-title {
            &__name {
              font-size: 2rem;
              line-height: 2rem;
              font-weight: 400;
              padding-bottom: 0.5rem;
            }

            &__game {
              text-transform: uppercase;
              line-height: 0.9rem;
            }
          }

          &__date {
            font-size: 0.9rem;
            padding: 2rem 0;
            text-transform: uppercase;
          }

          &__description {
            text-align: justify;
            overflow: hidden;
            max-height: 7.5rem;
          }

          &-link {
            position: absolute;
            bottom: 2rem;
            right: 1rem;

            .button {
              float: right;
            }
          }
        }
      }
    }
  }
}
